@use "/styles/mixins";
@use "/styles/variables";

.contact {
    display: grid;
    text-align: center;
    @include mixins.desktop {
        text-align: left;
        grid-template-columns: 1fr 1fr;
    }
    gap: variables.$spacing;

    img {
        width: 30px;
        height: 30px;
        image-rendering: -webkit-optimize-contrast;
        @include mixins.desktop {
            width: 50px;
            height: 50px;
        }
    }
}

.row {
    margin-bottom: calc(variables.$spacing / 2);
    &:last-child {
        margin-bottom: 0;
    }
}

.rowFlex {
    margin-bottom: variables.$spacing;
    &:last-child {
        margin-bottom: 0;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    @include mixins.desktop {
        justify-content: flex-start;
    }

    a {
        margin-left: variables.$spacing;
    }
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
}
