@use "/styles/mixins";

:root {
    --spacing: 16px;
    @include mixins.desktop {
        --spacing: 32px;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin-right: 0 !important; // because lightbox is adding margin
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    $padding: 24px;
    padding-left: 24px;
    padding-right: 24px;
    @media screen and (min-width: calc(1500px + 2 * $padding)) {
        padding-left: 0;
        padding-right: 0;
    }
}

.floor {
    margin-bottom: 32px;
    margin-top: 32px;
    @include mixins.desktop {
        margin-bottom: 64px;
        margin-top: 64px;
    }
}
